@import '@/styles/variable.scss';

// ------------------------------+
//
//          MAIN LAYOUT
//
// ------------------------------+

.global_cont {
  width: 100vw;
  height: 100vh;
  background: #075576;
  overflow: hidden;
}
