@import '@/styles/variable.scss';

// ------------------------------+
//
//         CONCTACT PAGE
//
// ------------------------------+

.main_cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  .left_cont {
    width: 40%;
    margin: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .caption p {
      color: $white_color;
      font-size: 50px;
      margin: 10px 0px;
      font-weight: bolder;
      font-family: $first_font;
    }
    .cap_text {
      color: $white_color;
      font-size: $big_font_size;
      font-family: $first_font;
      .mail {
        color: #45f3ff;
      }
    }
    .pics {
      margin-top: -50px;
      width: 700px;
      height: 300px;
    }
    .reseaux {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      margin-top: 60px;
      .reseaux_text {
        font-size: $big_font_size;
        font-family: $first_font;
        color: $white_color;
      }
    }
  }
  .right_cont {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 20px;
    .form_cont {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 90%;
      height: 700px;
      background: #014277;
      border-radius: 20px;
      overflow: hidden;
      &::before {
        content: '';
        position: absolute;
        top: -50%;
        left: -50%;
        width: 90%;
        height: 750px;
        background: linear-gradient(
          60deg,
          transparent,
          #45f3ff,
          #45f3ff,
          #45f3ff
        );
        animation: animate 10s linear infinite;
        transform-origin: bottom right;
        animation: animate 6s linear infinite;
      }
      &::after {
        content: '';
        position: absolute;
        top: -50%;
        left: -50%;
        width: 90%;
        height: 750px;
        background: linear-gradient(
          60deg,
          transparent,
          #d9138a,
          #d9138a,
          #d9138a
        );
        animation: animate 10s linear infinite;
        transform-origin: bottom right;
        animation: animate 6s linear infinite;
        animation-delay: -3s;
      }
    }
    .form {
      position: absolute;
      inset: 4px;
      border-radius: 20px;
      background: #024c88;
      padding: 50px 50px;
      z-index: 10;
    }
  }
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
