@import '@/styles/variable.scss';

// ------------------------------+
//
//         HOME PAGE
//
// ------------------------------+

.main_container {
  width: 100%;
  display: flex;
  justify-content: center;
}
